.page-not-found {
  max-width: 500px;
  margin: 0 auto 0;
  padding: 40px;
  border: 1px solid #c8c8c8;
  text-align: center;
}

.page-not-found .desc {
  font-size: 20px;
  margin: 20px 0;
}

.go-back-btn {
  min-width: 160px;
}
