<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}) %green([%thread]) %highlight(%-5level) %cyan(%logger{50}) %blue(-) %msg%n
            </pattern>
        </encoder>
    </appender>

    <springProfile name="dev">

        <logger name="bg.autohouse.backend" level="DEBUG"/>
        <logger name="bg.autohouse.util.cache" level="DEBUG"/>
        <logger name="org.ehcache" level="DEBUG"/>

    </springProfile>


    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>

